<%provide(:title,"home")%>
<div class="callout secondary">
  <div class="text-center">
  <h1>Welcome to the sample application</h1>
  <p>
    This is the home page for the
    <a href="http://www.railstutorial.org">Ruby on Rails Tutorial</a>
    sample application
  </p>
    <a href="#" class="button large">Sign up now!</a>
  </div>
</div>
