<hr>
<div class="small-6 columns">
  Nicolas Vandenbroucke
</div>
<div class="small-6 columns">
  <ul class="menu align-right">
  <li><%=link_to "about",about_path  %></li>
  <li><a href="#">contact</a></li>
  <li><a href="#">News</a></li>
</ul>
</div>
