<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">Sample application</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="/static_pages/home">home</a></li>
      <li><a href="/static_pages/about">about</a></li>
      <li><a href="/static_pages/help">help</a></li>
    </ul>
  </div>
</div>
