<div class="top-bar">
  <div class="row">

    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">Sample application</li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="/static_pages/home">home</a></li>
        <li><a href="/static_pages/help">help</a></li>
        <li><a href="#">login</a></li>
      </ul>
    </div>
  </div>
</div>
